#footer {
    color: #666;
    text-align: center;
}

.box {
    padding: 5px;
}

.in-box {
    border: skyblue thin solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 15px;
}
